# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include: 
<ol>
    <li>NumPy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Plotly</li>
</ol>

<table>
    <thead>
        <tr><th>Data Science Tools</th></tr>
    </thead>
    <tbody><tr><td>Python</td></tr>
    <tr><td>RStudio</td></tr>
    <tr><td>Apache Spark</td></tr></tbody>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [22]:
# This is a simple arithmetic expression to multiply then add numbers
(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

**Objectives:**
<ul>
    <li>List popular languages in Data Science</li>
    <li>List popular libraries in Data Science</li>
    <li>Write expressions to multiply then add integers</li>
    <li>Write an expression to convert minutes to hours</li>
</ul>

## Author
Ryan Anderson